<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h2>All Blogs</h2>
    <ul class="posts">
      <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <li>
        <a class="post" href="/blogs/<%= blog._id %>">
          <img src="/img/post.png" alt="post icon" />
          <h4><%= blog.title %></h4>
          <p><%= blog.snippet %></p>
        </a>
      </li>
      <% }) %> <% } else { %>
      <div>There are no blogs to display...</div>
      <% } %>
    </ul>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
